body {
    font-family: arial, sans-serif;
    font-size: 0.9rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: #95A5A6;
}


.header, .footer {
    width: 100%;
    margin: 0;
}

/***************/
/*HEADER STYLES*/
/***************/

.header-menu {
    float: right;
    margin-right: 3%;
}

.header li {
    vertical-align: middle;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.header-photo {
    border-radius: 25px;
}

/***************/
/*CENTER STYLES*/
/***************/


.center-container {
    padding-top: 140px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.img-container {
    display: inline-block;
    margin: 0 auto;
}

.logo {
    width: 300px;
}

.search_field {
    width: 550px;
    height: 40px;
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 20px;
}

.search, .lucky {
    height: 35px;
    padding: 0 15px;
    border: none;
    background-color: #ECF0F1;
}

.search {
    margin-right: 20px;
}

/***************/
/*FOOTER STYLES*/
/***************/

.footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
}

.footer .left-menu {
    float: left;
    margin-right: 2%;
}

.footer .right-menu {
    float: right;
    margin-right: 2%;
}

.footer li {
    vertical-align: middle;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
