.main-container {
    padding-top: 150px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.img-container {
    display: inline-block;
    margin: 0 auto;
}

.logo {
    width: 300px;
}

.search_field {
    width: 400px;
    height: 40px;
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 20px;
}

.search, .lucky {
    height: 35px;
    padding: 0 15px;
}

.search {
    margin-right: 20px;
}
